<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>unsupervised learning analysis model for classification of socioeconomic status of individuals based on housing characteristics</title>
</head>
<header>
  <nav class="navbar">
      Interpretation of the results obtained
  </nav>
</header>
<body>


  <div class="container">
    <h1>Visualización de gráficos</h1>
    <div class="card">
      <h2>Elbow Method</h2>
      <img src="{{ elbow_path }}" alt="Elbow Method">
      <p> the optimal number of clusters would be 5 because at point 5 on the x-axis a bend in the graph can be observed.
        After this point, the inertia decreases at a slower rate as we increase the number of clusters.</p>
    </div>

    <div class="card">
      <h2>Heatmap</h2>
      <img src="{{ heatmap_path }}" alt="Heatmap">
      <p>Cluster 0: The dwellings in this cluster generally have medium to low quality characteristics.
        Elements such as mat_wall, mat_ceilings, and mat_floors have relatively high values (7.9, 9.2, and 2.6 respectively),
        indicating a good quality of building materials.
        However, other characteristics such as kitchen, toilet, bano_comp have low values,
        suggesting that these dwellings have very limited basic facilities.</p>
      <br>
      <p>Cluster 1: This cluster appears to represent housing with mixed characteristics, with some high quality and some low quality.
        The characteristics mat_wall and mat_roofs are also high (7.5 and 6.3 respectively), similar to Cluster 0, but most of the other characteristics are at low to moderate levels.
        Characteristics such as disp_water (1.1) and drainage (1.2) are low, indicating possible problems in the availability of basic services.</p>
      <br>
      <p>Cluster 2: This cluster seems to represent the houses with the best overall characteristics.
        Many features such as mat_wall, mat_ceilings, mat_floors have high values (7.8, 8.5, and 2.5 respectively), indicating a good quality in building materials.
        In addition, they have better facilities and services, with higher values for kitchen, drainage, disp_elect, and focos_ahor (1.4, 2.3, 1.1, and 8.6 respectively).
        This cluster probably represents the dwellings with the best available conditions and services.</p>
      <br>
      <p>Cluster 3: The dwellings in this cluster appear to have a combination of features, but overall, they appear to have worse conditions than Cluster 2.
      mat_wall and mat_ceilings are good (7.8 and 9.5 respectively), but other features such as kitchen, toilet, and bano_comp have lower values (1, 1, and 1.4 respectively).
      This cluster shows a tendency to have good construction materials but deficiencies in some basic facilities and services.</p>

      <p>Cluster 4: This cluster seems to have quite good features and even a little better than the features of Cluster 2.
        focos_ahor mat_techos, mat_pared, num_cuarto are good (9.2, 7.9, 9.7 respectively), but other features such as kitchen, toilet, and bano_comp have lower values.
        This cluster shows a tendency to have good construction materials but with deficiencies in some facilities and basic services very similar to cluster 2.</p>


    </div>

    <h2>Scatter Plots</h2>
    <div class="scatter-row">
      {% for scatter_plot_path in scatter_plots_path %}
        <div class="card scatter-card">
          <img src="{{ scatter_plot_path }}" alt="Scatter Plot">
        </div>
      {% endfor %}
    </div>
    <p>
        Now we reduce the number of variables in our data set and show it in scatter plots where several groups are formed
      depending on the number of clusters.
    </p>
    <br>
    <h2>
       In conclusion we can say that the clusters appear to represent different levels of housing quality, with cluster 2 and 4representing the best conditions,
      followed by cluster 1 and cluster 3 regular conditions and the cluster 0 with the lowest overall characteristics.
      </h2>
  </div>
</body>
</html>
