body {
  font-family: 'Arial', sans-serif; /* Cambia 'Arial' por la fuente que desees */
}

/* Estilos para el navbar */
.navbar {
  background-color: #007bff; /* Azul */
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Estilos para el contenedor principal */
.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Estilos para los cards */
/* Estilos para los cards */
.card {
  background-color: #f5f5f5; /* Gris claro */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px;
  margin-bottom: 20px;
}

/* Estilos para las imágenes dentro de los cards */
.card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

/* Estilos para la fila de Scatter Plots */
.scatter-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos para los cards de Scatter Plots */
.scatter-card {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}
